@media (max-width: 1300px) {
  .column__row {
 	flex: 0 1 440px;
  }
}
@media (max-width: 600px) {
  .column__row {
 	flex: 1 1 auto;
  }
}
@media(max-width: 401px){
	.control_item {
	margin: 0px 25%;
}
.center__bottom{
	padding: 0 5%;
	margin: 0 auto;
}
.top-title{
	font-size: 18px;
}
.footer__title{}
.center__center{
	font-size: 60px;
}
}
@media(max-width: 310px){
	.control_item {
	margin: 0px 15%;
}
}
@media(max-width: 280px){
	.control_item {
	margin: 0px 16%;
}
.top-title{
	font-size: 14px;
}
}
@media (max-width: 900px){
	.visible-lg {
		display: none;
}
	.m-menu-link {
		display: block;
}
.top__selected--active  {
	display: flex;
	flex-direction:column;
}
.top__item_border a{
	width: 150px;
}
.top__item_border{
	display: flex;
	justify-content: center;
	padding: 0;
}
}